.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-fluid{
    display: flex;
    flex-direction: column;
    align-items: center;
}

th, td{
    border: 1px solid;
    width: 25%;
    background-color: rgb(140, 140, 140, .4);
}

table{
    width: 50%;
    
}
